body {
  font-family: "Avenir Next";
}



header{
background-color: #26d0c9;
  
color: #fff;
height: 90px;
font-size:20px
}

.header-logo{
color: black ; 
float:left;
font-size:30px;
font-weight:bold;
}

.contents-item{
float:center
font-size:40px;
}

.contents{
float:center;
}

.contents h1{
font-weight:light;
}


footer{
padding-top:20px;
background-color: #26d0c9;
 
}

p{

list-style: none;


float:left; 
}

.purple{
background-color: #FF66FF;
 
color: black ; 
}

.grey{
background-color: #C0C0C0;
color: black ; 
 
}

.yellow{
background-color: #FFFF11;
 
color: black ; 
}

.blue{
background-color: #3399CC;
 
color: black ; 
}

.red{
background-color: #FF6666;
 
color: black ; 
}

.btn{
 margin-top:20px;
  
 margin-bottom:20px;
}

footer{
font-size:10px;
font-weight:bold;
}

.main{
text-align:center;
}

.main a{
color:black;
font-size:20px;
}

